@font-face {
    font-family: 'AeonikProTRIAL';
    src:url('../fonts/AeonikProTRIAL-Regular.eot');
    src:url('../fonts/AeonikProTRIAL-Regular.eot?#iefix') format("embedded-opentype"),
        url('../fonts/AeonikProTRIAL-Regular.woff2') format("woff2"),
        url('../fonts/AeonikProTRIAL-Regular.woff') format("woff"),
        url('../fonts/AeonikProTRIAL-Regular.ttf') format("truetype");
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family: 'AeonikProTRIAL';
    src:url('../fonts/AeonikProTRIAL-Bold.eot');
    src:url('../fonts/AeonikProTRIAL-Bold.eot?#iefix') format("embedded-opentype"),
        url('../fonts/AeonikProTRIAL-Bold.woff2') format("woff2"),
        url('../fonts/AeonikProTRIAL-Bold.woff') format("woff"),
        url('../fonts/AeonikProTRIAL-Bold.ttf') format("truetype");
    font-weight:700;
    font-style:normal;
}
@font-face {
    font-family: 'AtypDisplay';
    src:url('../fonts/AtypDisplay-Regular.eot');
    src:url('../fonts/AtypDisplay-Regular.eot?#iefix') format("embedded-opentype"),
        url('../fonts/AtypDisplay-Regular.woff2') format("woff2"),
        url('../fonts/AtypDisplay-Regular.woff') format("woff"),
        url('../fonts/AtypDisplay-Regular.ttf') format("truetype");
    font-weight:400;
    font-style:normal;
}